<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {% for field in form %}
        <div class="form-group">
            {{ form_label(field, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}

            {% if form_errors(field) is not empty %}
                <div class="alert alert-danger mt-2">
                    {{ form_errors(field) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="text-center mt-4">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>

    {{ form_end(form) }}
</div>