{% extends 'backend/base.html.twig' %}

{% block title %}Modifier l'équipement{% endblock %}
{% block page_title %}Gestion des Équipements{% endblock %}
{% block breadcrumb %}
    <a href="{{ path('app_equipement_index') }}" class="breadcrumb-item">Équipements</a>
    <li class="breadcrumb-item active">Modifier</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-success text-white">
                <h6 class="m-0 font-weight-bold">
                    <i class="fas fa-tools me-2"></i>Modifier l'équipement
                </h6>
            </div>
            <div class="card-body">
                {% form_theme form 'backend/form_theme.html.twig' %}
                
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.NomEquipement) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.Quantite) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.DateAchat) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.PrixAchat) }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.IdCategorie) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.idUser) }}
                    </div>
                </div>
                
                <div class="mt-4 d-flex justify-content-between">
                    <a href="{{ path('app_equipement_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save me-2"></i>Mettre à jour
                    </button>
                </div>
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

    {{ include('equipement/_delete_form.html.twig') }}
    </center>
{% endblock %}
