<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Snippet - BBBootstrap</title>
		<style>
			@font-face {
				font-family: Arial !important;
				font-display: swap !important;
			}
		</style>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="#" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css">

		<link rel="stylesheet" type="text/css" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

		<link rel="stylesheet" type="text/css" href="{{asset('FrontOffice/css/font-awesome.css')}}">

		<link rel="stylesheet" href="{{asset('FrontOffice/css/templatemo-training-studio.css')}}">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style>
		::-webkit-scrollbar {
			width: 8px;
		}
		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.form-control:focus {
			box-shadow: none;
			border-color: #BA68C8
		}

		.profile-button {
			background: rgb(99, 39, 120);
			box-shadow: none;
			border: none
		}

		.profile-button:hover {
			background: #682773
		}

		.profile-button:focus {
			background: #682773;
			box-shadow: none
		}

		.profile-button:active {
			background: #682773;
			box-shadow: none
		}

		.back:hover {
			color: #682773;
			cursor: pointer
		}

		.labels {
			font-size: 11px
		}

		.add-experience:hover {
			background: #BA68C8;
			color: #fff;
			cursor: pointer;
			border: solid 1px #BA68C8
		}
	</style>
</head>
<body>

	<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="{{ path('app_home') }}" class="logo">FETFLIX<em>
							GYM</em>
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
						<li class="scroll-to-section">
							<a href="/" class="active">Acceuil</a>
						</li>
						<li class="scroll-to-section">
							<a href="{{ path('affiche_TypeAbonn') }}">Abonnement</a>
						</li>
						

						<!--     
						    <li class="scroll-to-section"><a href="#features">Evenements</a></li>
						    <li class="scroll-to-section"><a href="#our-classes">Offers</a></li>
						    <li class="scroll-to-section"><a href="#schedule">Activitiés</a></li>
						    <li class="scroll-to-section"><a href="#contact-us">Forum</a></li>
						    <li class="scroll-to-section"><a href="#contact-us">Panier</a></li>
						     <li class="scroll-to-section"><a href="#contact-us">Contact</a></li> -->


						<!-- Add the dropdown menu code here -->
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
							<div class="dropdown-menu m-0 bg-secondary rounded-0">
								<a href="{{ path('app_event_indexf') }}" class="dropdown-item">Evenements</a>
								<a href="{{ path('app_reservation_offer_index') }}" class="dropdown-item">Offres</a>
								<a href="{{ path('app_main') }}" class="dropdown-item">Activitiés</a>
								<a href="{{ path('app_post_indexf') }}" class="dropdown-item">Forum</a>
								<a href="/frontequipement" class="dropdown-item">Equipement</a>
							</div>
						</li>

						<li class="main-button">
							<a href="{{ path('app_login') }}">S'authentifier</a>
						</li>
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>


					<!--
					
					
					<ul class="nav">
					                        <li class="scroll-to-section"><a href="#top" class="active">Acceuil</a></li>   
					
					
					                        
					                          
					                        <li class="scroll-to-section"><a href="#features">Evenements</a></li>
					                        <li class="scroll-to-section"><a href="#our-classes">Offres</a></li>
					                        <li class="scroll-to-section"><a href="{{ path('app_main') }}">Activitiés</a></li>
					                        <li class="scroll-to-section"><a href="#features1">Forum</a></li> 
					                        <li class="scroll-to-section"><a href="#tools">Equipement</a></li>
					                        <li class="scroll-to-section"><a href="#shop">Panier</a></li>
					                        <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
					
					-->


					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>

	<div class="main-banner" id="top">
		<video autoplay muted loop id="bg-video">{ % block video %}
			<source src="{{asset('FrontOffice/images/gym-video.mp4')}}" type="video/mp4"/>

		</video>
		<div class="video-overlay header-text">
			<div class="caption" style="z-index: 100%;">
				<div class="container bg-white">
					<div class="row">
						<div class="col-md-3 border-right ">
							<div class="d-flex flex-column align-items-center text-center p-3 py-5">

								{% if user.img  %}


									<img class="rounded-circle mt-5" width="150px" src="{{ asset('/BackOffice/images/' ~ user.img) }}">

								{% else %}
									<img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
								{% endif %}
								<span class="font-weight-bold">{{user.nom}}
									{{user.prenom}}</span>
								<span class="text-black-50">{{user.email}}</span>
								<span></span>
							</div>
						</div>

						<div class="col-md-5 border-right">
							<div class="p-3 py-5">
								<div class="d-flex justify-content-between align-items-center mb-3">
									<h4 class="text-right">Mon profile</h4>
									<button id="modifyProfileBtn" class="btn btn-primary">
										<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewbox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1 .8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/></svg>
										Edit
									</button>
								</div>
								<form action="{{path('app_user_profile_save', {'id': user.id}) }}" method="POST" enctype="multipart/form-data">

									<div class="row mt-2">
										<div class="col-md-6">
											<label class="labels">Nom</label><input type="text" name="nom" id="nom" disabled class="form-control editable-field" placeholder="first name" value="{{user.nom}}"></div>
										<div class="col-md-6">
											<label class="labels">Prénom</label><input type="text" name="prenom" class="form-control editable-field" value="{{user.prenom}}" placeholder="last name" disabled></div>
									</div>
									<div class="row mt-2" id="imgg" hidden>
										<div class="col-md-12">
											<label class="labels">Image</label>
											<input type="file" name="img" class="form-control editable-field" accept="image/*"></div>
									</div>


									<div class="row mt-3">

										<div class="col-md-12">
											<label class="labels">Email
											</label><input type="text" name="email" class="form-control editable-field" placeholder="enter email id" value="{{user.email}}" disabled></div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label class="labels">Age</label><input type="number" name="age" class="form-control editable-field" placeholder="Age" value="{{user.age}}" disabled></div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<label class="labels">Numéro</label><input type="number" name="numtel" class="form-control editable-field" placeholder="Age" value="{{user.numtel}}" disabled></div>
									</div>
									<button type="submit" class="btn btn-primary" id="123" hidden="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewbox="0 0 16 16">
											<path d="M11 2H9v3h2z"/>
											<path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
										</svg>Enregistrer</button>
								</form>
							</div>

						</div>

					</div>


				</div>
			</div>

		</div>
		{% include "/frontend/footer.html.twig" %}
</body>

</html>