{% extends 'backend/base.html.twig' %}

{% block title %}Détails de l'offre{% endblock %}
{% block page_title %}Gestion des Offres{% endblock %}
{% block breadcrumb %}
    <a href="{{ path('app_offer_index') }}" class="breadcrumb-item">Offres</a>
    <li class="breadcrumb-item active">Détails</li>
{% endblock %}
 {% block nom %}
 
                         <h1 class="mt-4">Offer</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Details Offer</li>
                        </ol>

                        
                        {% endblock %}
{% block body %}

    <table class="table" border="2px">
        <tbody>
            
            <tr>
            <th style="color: #1b95b2">{{ 'Title offer'|trans|raw  }}</th>
                <td>{{ offer.titleoffer }}</td>
            </tr>
            <tr>
             <th style="color: #1b95b2">{{ 'Description offer'|trans|raw  }}</th>
                <td>{{ offer.descriptionoffer }}</td>
            </tr>
            <tr>
             <th style="color: #1b95b2">{{ 'Prix'|trans|raw  }}</th>
                <td>{{ offer.prix }}</td>
            </tr>
            <tr>
             <th style="color: #1b95b2">{{ 'Date debut offer'|trans|raw  }}</th>
                <td>{{ offer.datedeboffer ? offer.datedeboffer|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
             <th style="color: #1b95b2">{{ 'Date fin offer'|trans|raw  }}</th>
                <td>{{ offer.datefinoffer ? offer.datefinoffer|date('Y-m-d') : '' }}</td>
            </tr>
                         

            <tr>
            <th style="color: #1b95b2">{{ 'Nombre de reservation'|trans|raw  }}</th>
                <td>{{ offer.nb_reservation}}</td>
            </tr>

            
            <tr>
            <th style="color: #1b95b2">{{ 'Image'|trans|raw  }}</th>
                                    <img style="max-width: 100%" src="{{ vich_uploader_asset(offer, 'imageFile') }}" alt="">
            </tr>
                                   
        </tbody>
    </table>

    <a href="{{ path('app_offer_index') }}">back to list</a>

    <a href="{{ path('app_offer_edit', {'idoffer': offer.idoffer}) }}">edit</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}
                {% block viewDetails%}

                            {% if app.request.attributes.get('_route') != 'app_offer_show' %}
                        {% endif %}
                        {% endblock %}
