<div class="container">
{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
    <div class="form-group">
        {{ form_label(form.content,"content") }}
        {{ form_widget(form.content,{ 'attr': {'class': 'form-control'} }) }} 
        {% if form_errors(form.content) is not empty %}
            <div class="alert alert-danger" >
            {{ form_errors(form.content) }}
            </div>
        {% endif %}
    </div>



    <div class="form-group">
        {{ form_label(form.idpost,"post") }}
        {{ form_widget(form.idpost, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.idpost) is not empty %}
            <div class="alert alert-danger" >
            {{ form_errors(form.idpost) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.idUser, "idUser") }}
        {{ form_widget(form.idUser, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.idUser) is not empty%}
            <div class="alert alert-danger" >
            {{ form_errors(form.idUser) }}
            </div>
            {% endif %}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
