<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
	<div class="preloader-inner">
		<span class="dot"></span>
		<div class="dots">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="{{ path('app_home') }}" class="logo">FETFLIX<em>
							GYM</em>
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
						<li class="scroll-to-section">
							<a href="{{ path('app_home') }}" class="active">Acceuil</a>
						</li>
						<li class="scroll-to-section">
							<a href="{{ path('affiche_TypeAbonn') }}">Abonnement</a>
						</li>
						

						<!--     
						    <li class="scroll-to-section"><a href="#features">Evenements</a></li>
						    <li class="scroll-to-section"><a href="#our-classes">Offers</a></li>
						    <li class="scroll-to-section"><a href="#schedule">Activitiés</a></li>
						    <li class="scroll-to-section"><a href="#contact-us">Forum</a></li>
						    <li class="scroll-to-section"><a href="#contact-us">Panier</a></li>
						     <li class="scroll-to-section"><a href="#contact-us">Contact</a></li> -->


						<!-- Add the dropdown menu code here -->
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
							<div class="dropdown-menu m-0 bg-secondary rounded-0">
								<a href="{{ path('app_event_indexf') }}" class="dropdown-item">Evenements</a>
								<a href="{{ path('app_reservation_offer_index') }}" class="dropdown-item">Offres</a>
								<a href="{{ path('app_main') }}" class="dropdown-item">Activitiés</a>
								<a href="{{ path('app_post_indexf') }}" class="dropdown-item">Forum</a>
								<a href="{{ path('app_equipement_index_front') }}" class="dropdown-item">Equipement</a>
							</div>
						</li>

						<li class="main-button">
							<a href="{{ path('app_login') }}">S'authentifier</a>
						</li>
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>


					<!--
					
					
					<ul class="nav">
					                        <li class="scroll-to-section"><a href="#top" class="active">Acceuil</a></li>   
					
					
					                        
					                          
					                        <li class="scroll-to-section"><a href="#features">Evenements</a></li>
					                        <li class="scroll-to-section"><a href="#our-classes">Offres</a></li>
					                        <li class="scroll-to-section"><a href="{{ path('app_main') }}">Activitiés</a></li>
					                        <li class="scroll-to-section"><a href="#features1">Forum</a></li> 
					                        <li class="scroll-to-section"><a href="#tools">Equipement</a></li>
					                        <li class="scroll-to-section"><a href="#shop">Panier</a></li>
					                        <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
					
					-->


					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- ***** Header Area End ***** -->
