<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

    <!-- Additional CSS Files -->
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('FrontOffice/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('FrontOffice/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/css/templatemo-training-studio.css') }}">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <style>
            #calendrier{
                width: 80%;
                margin: auto ;
            }
        </style>
        

        <link rel="stylesheet" type="text/css" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

        <link rel="stylesheet" type="text/css" href="{{asset('FrontOffice/css/font-awesome.css')}}">

        <link rel="stylesheet" href="{{asset('FrontOffice/css/templatemo-training-studio.css')}}">
    {% endblock %}
</head>